APP_NAME="Indoplas Admin"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://indoplas.co.id

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=u301249154_indoplas
DB_USERNAME=u301249154_indoplas
DB_PASSWORD=

FILESYSTEM_DISK=public
